.daraz__landingpage{
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}
.daraz__landingpage-category {
    background: #f4f4f4
   
}
.daraz__landingpage-category_menu{
    background: var(--color-brand);
    justify-content: center;
    padding: 1px;
    
} 
.daraz__landingpage-category_menu p{
    font-weight: 800;
    color: white;
}
.daraz__landingpage-category_items p{
    /* font-size: px; */
    border: 1px solid #fff;
    line-height: 14px;
    font-weight: 500;
    font-family: var(--font-family);
    padding: .5rem;
    font-size: 21px;




}