*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-bg);

   

}
a {
    color: unset;
    text-decoration: none;

}
.app{
    max-height: 100vh;
}
.section__padding{
    padding:  4rem 0rem;

}
.section__margin {
    margin: 0rem 6rem;
}