*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-white);

   

}
a {
    color: unset;
    text-decoration: none;

}
.app{
    max-height: 100vh;
}
.daraz_landback{
    
    
    margin:0;
    padding:0;
    position: relative;
    background-color: var(--color-bg);

}