
.daraz__landingpage{

    position: relative;
    display: flex;    
    width: 1363px;
    height: 344px;

    margin: auto;
    overflow: hidden;
    
    background-color: var(--color-white);
    /* background-color: red;     */
   
  

}
.daraz__landingpage-category {
    width: 200px;
    height: 344px;
    position: relative;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.25);
    background-color: var(--color-white);
    z-index: 200;
    
 

  
 
   
}
  

.daraz__landingpage-category_items p{
    display: flex;
    flex-direction: row;
    /* font-size: px; */
    border: 1px solid #fff;
    line-height: 14px;
    font-family: var(--font-family);
    padding: .5rem;
    




}
.daraz__landingpage-image {
    color: red;
    height: 344px;
    flex:1;
 
    
    
    
}
.daraz__landingpage-image img{
    height: 100%;
    width: 100%;

}