.daraz__navbar{
 
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     width: 1188px;
     min-width: 1188px;
     margin: 0 auto;
     gap: 10px;     
    height: 75px;
}
.daraz__navbar-logo{
    width: 200px;
    

   
   
    
  
  
}
.daraz__navbar-logo img{
    width:135px;
   
    
}

.daraz__navbar-searchbar{
    width: 688px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 auto;
   
    
    

}


.daraz__navbar-searchbar input {
    
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
   
   
  
    font-family: var(--font-family);

    background-color: var(--color-bg);
    padding:13px 19px;
 

}
.daraz__navbar-searchbar button img{

  
    outline: none;
    border: none;
 
  
    background-color: var(--color-brand);


}

.daraz__navbar-searchbar_categories{
    display: flex;
    border: none;
    /* padding-left: 1rem; */
    /* margin-top: 1rem; */
   
   


}


.daraz__navbar-signin{
   margin-left: 2rem;
    /* margin: 1rem;    */
    /* justify-content: space-between; */
    display: flex;
    align-items: center;
    margin-right: 10px;

   


}
.daraz__navbar-signin p,.daraz__navbar-cart p

 
   

{
    /* padding-left:3px ; */

    font-family: var(--font-family);
    /* font-size: 12px; */
    align-items: center;
}
.daraz__navbar-cart{
    padding-left: 2rem;

    display: flex;
    /* flex-direction: column; */
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    /* margin: 1rem; */
  }


 





.daraz__navbar-cart img{
   

    /* width: 100%; */
}


.daraz__navbar-livebanner{
    
    display: inline-block;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    width: 188px;
    height: 45px;
    
   

}
.daraz__navbar-livebanner img


{
    width: 100%;
    height: 100%;
  
}
