.darazclone__service {
    padding: 2rem;
    width: 1188px;
    height: 40px;
   display: flex;
    background-color: var(--color-bg);
    /* justify-content: space-between;   */
    margin: .2rem auto;
    
 
}
.darazclone_serviceimage {

    height: 40px;
    flex: 1;
   background-color: var(--color-white);
   margin-right: 20px;
    /* margin: 12px; */
    border-radius: 20px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */

    
   
    

}
.darazclone_serviceimage img{
    height: 32px;
    width: 32px;
    margin: 4px;

}
.darazclone_serviceimage p{
    padding: 1rem;
}

